@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #292929;
  --color-secondary: #c19d60;
  --font-shoulders: "Big Shoulders Stencil", sans-serif;
  --font-playfair: "Playfair Display", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --first-delay: 0.5s;
  --rotate-x-180: "rotateX(180deg)";
}

.first-delay {
  transition-delay: 500ms;
}

.second-delay {
  transition-delay: 1s;
}

.third-delay {
  transition-delay: 1500ms;
}

.fouth-delay {
  transition-delay: 2s;
}

.fieth-delay {
  transition-delay: 2500ms;
}

.backface-hidden {
  backface-visibility: hidden;
}
.preserve-3d {
  transform-style: preserve-3d;
}
